div{
    display: none;
    position: absolute;
    width: 500px;
    background-color: white;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
    border: 1px solid black;
    top: 100px;
    left: 500px;
}
p:nth-of-type(2){
    position: absolute;
    align-items: start;
    font-size: 30px;
    right: 10px;
    bottom: 0;
}
p:nth-of-type(1){
    font-size: 20px;
    margin-left: 20px;
}
body{
    position: relative;

}
