form{
    width: 300px;
    height: 300px;
    display:  flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    gap: 30px;
    font-size: xx-large;
}
input{
    width: 300px;
}
button{
    width: 20%;
}